* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", sans-serif;
  background-color: hsl(0deg, 0%, 96%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  width: 92rem;
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}
.container .listing-card {
  width: 100%;
  max-width: 1366px;
  padding-top: 1.6rem;
}
.container .listing-card__list {
  width: 100%;
  max-width: 92rem;
  max-height: 33rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 4rem;
}
.container .listing-card__list__item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.container .listing-card__content--card-regular {
  font-size: 1.8rem;
  line-height: 2.6rem;
  padding-bottom: 0.8rem;
  color: hsl(0deg, 0%, 15%);
}
.container .listing-card__content--focal-derecho {
  font-size: 2.4rem;
  line-height: 3.5rem;
}
.container .listing-card__content--focal-derecho p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.container .listing-card__content--card-author {
  font-size: 2rem;
  line-height: 2.8rem;
  display: block;
  text-align: center;
  align-items: center;
}
.container .listing-card__content--card-inverted {
  font-size: 3.2rem;
  line-height: 4rem;
  color: hsl(0deg, 0%, 15%);
}
.container .listing-card__title {
  color: hsl(216deg, 98%, 40%);
}
.container .listing-card__footer--card-regular {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding-block: 0.8rem;
}
.container .listing-card__footer--focal-derecho {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.container .listing-card__footer--focal-derecho img {
  margin-right: 0.8rem;
}
.container .listing-card__footer--card-author {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container .listing-card__footer--card-author img:first-of-type {
  display: block;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding-block-end: 0.8rem;
  max-width: 5.7rem;
  max-height: 5.7rem;
}
.container .listing-card--card-regular {
  width: 100%;
  max-width: 28rem;
  max-height: 33rem;
}
.container .listing-card--card-regular img {
  width: 100%;
  aspect-ratio: 3/2;
}
.container .listing-card--focal-derecho {
  width: 100%;
  max-width: 28rem;
  max-height: 40rem;
}
.container .listing-card--card-author {
  width: 100%;
  max-width: 28rem;
  max-height: 26rem;
  border: 0.1rem solid hsl(0deg, 0%, 80%);
}

.container {
  width: 92rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-top: 0.1rem solid hsl(0deg, 0%, 89%);
}
.container .left-focus {
  width: 100%;
  width: 56rem;
  height: 58.8rem;
  margin-right: 8rem;
  padding-top: 1.6rem;
}
.container .left-focus a:hover {
  opacity: 0.8;
}
.container .left-focus img {
  width: 100%;
  aspect-ratio: 3/2;
  padding-top: 1.6rem;
}
.container .left-focus p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.container .right-focal {
  width: 100%;
  width: 28rem;
  height: 64.1rem;
}
.container .right-focal a:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=index.css.map */
