@use "./mixins" as *;

.container {
    width: 100%;
    width: 92rem;
    @include flex (flex, nowrap, flex-start, stretch);

    .listing-card {
        width: 100%;
        max-width: 1366px;
        padding-top: 1.6rem;
        

        &__list {
            width: 100%;
            max-width: 92rem;
            max-height: 33rem;
            margin: 0 auto;
            
            @include flex(flex, row nowrap, flex-start, center,0 4rem);
         
            &__item {
                width: 100%;
                @include flex(flex, row nowrap, flex-start, center);
            }
        }
        
        &__content {
            
            &--card-regular {
                font-size: 1.8rem;
                line-height: 2.6rem;
                padding-bottom: 0.8rem;
                color: hsl(0, 0%, 15%);
            }
            
            &--focal-derecho {
                font-size: 2.4rem;
                line-height: 3.5rem;

                p {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    margin-top: 0.8rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            &--card-author {
                font-size: 2rem;
                line-height: 2.8rem;
                display: block;
                text-align: center;
                align-items: center;
            }
            &--card-inverted {
                font-size: 3.2rem;
                line-height: 4rem;
                color: hsl(0, 0%, 15%);
            }
        }

        &__title {
            color: hsl(216, 98%, 40%);
        }
        
        &__footer {
            &--card-regular{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 1.4rem;
                line-height: 1.6rem;
                padding-block: 0.8rem;
            }

            &--focal-derecho {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 1.4rem;
                line-height: 2.4rem;
                padding-top: 0.8rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-items: center;
                    
                img {
                    margin-right: 0.8rem;
                }
            }

            &--card-author {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 2.4rem;
                padding-block: 1.5rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;

                img:first-of-type {
                    display: block;
                    align-content: center;
                    flex-direction: column;
                    justify-content: center;
                    padding-block-end: 0.8rem;
                    max-width: 5.7rem;
                    max-height: 5.7rem;
                }
            }
            
        }
        &--card-regular {
            width:100%;
            max-width: 28rem;
            max-height: 33rem;

            img {
                width: 100%;
                aspect-ratio: 3 / 2;
           }   
        }

        &--focal-derecho {
            width: 100%;
            max-width: 28rem;
            max-height: 40rem;

        }
        &--card-author {
            width: 100%;
            max-width: 28rem;
            max-height: 26rem;
            border: 0.1rem solid hsl(0, 0%, 80%);

        }
    }
}


  