
@mixin flex ($dis:flex,$flow:nowrap,$justify:flex-start,$align:stretch,$gap:0) {
    display: $dis;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin for-size($size) {
    @if $size == mobile {
      @media (max-width:22em) { @content;}
    } @else if $size == tablet {
      @media (min-width: 48em) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 85em) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 120em) { @content; }
    }
  }