.container {
    width: 92rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-top: 0.1rem solid hsl(0, 0%, 89%);

    .left-focus {
        width: 100%;
        width: 56rem;
        height: 58.8rem;
        margin-right: 8rem;
        padding-top: 1.6rem;

        & a:hover {
            opacity: 0.8;
        }
    
        
        img {
            width: 100%;
            aspect-ratio: 3/2;
            padding-top: 1.6rem;
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }
       
    }
    .right-focal {
        width: 100%;
        width: 28rem;
        height: 64.1rem;

        & a:hover {
            opacity: 0.8;
        }
    }
}


