* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto Slab", sans-serif;
    background-color: hsl(0, 0%, 96%); 
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}